# Analysis on history of water consumption in the New York City Water Supply System (Based on New York City Census population)

In [1]:
#importing pandas and numpy module
import pandas
import numpy as np

# suppress scientific notation
np.set_printoptions(suppress = True)

# reading the data file from GitHub and converting to a NumPy ndarray object

nyc_water = pandas.read_csv('https://raw.githubusercontent.com/surbhinayak10/DAV5400/main/M3_Data.csv').to_numpy()
# verify you have an ndarray object
type(nyc_water)

numpy.ndarray

To Solve the below analytical question, I have first transposed the data array so that each raw data column will be coverted as an element of the array & thus making it easier to perform operations on the columns available in the raw data.

In [2]:
nyc_water_each_col_val=nyc_water.T
nyc_water_each_col_val

array([[   1979. ,    1980. ,    1981. ,    1982. ,    1983. ,    1984. ,
           1985. ,    1986. ,    1987. ,    1988. ,    1989. ,    1990. ,
           1991. ,    1992. ,    1993. ,    1994. ,    1995. ,    1996. ,
           1997. ,    1998. ,    1999. ,    2000. ,    2001. ,    2002. ,
           2003. ,    2004. ,    2005. ,    2006. ,    2007. ,    2008. ,
           2009. ,    2010. ,    2011. ,    2012. ,    2013. ,    2014. ,
           2015. ,    2016. ,    2017. ,    2018. ,    2019. ],
       [7102100. , 7071639. , 7089241. , 7109105. , 7181224. , 7234514. ,
        7274054. , 7319246. , 7342476. , 7353719. , 7344175. , 7335650. ,
        7374501. , 7428944. , 7506166. , 7570458. , 7633040. , 7697812. ,
        7773443. , 7858259. , 7947660. , 8008278. , 8024963.5, 8041649. ,
        8058334.5, 8075020. , 8091705.5, 8108391. , 8125076.5, 8141762. ,
        8158447.5, 8175133. , 8272963. , 8348032. , 8398739. , 8437387. ,
        8468181. , 8475976. , 8438271. , 8398748. , 8336817. ],
       [   1512. ,    1506. ,    1309. ,    1382. ,    1424. ,    1465. ,
           1326. ,    1351. ,    1447. ,    1484. ,    1402. ,    1424. ,
           1469. ,    1369. ,    1368.5,    1357.7,    1325.7,    1297.9,
           1205.5,    1219.5,    1237.2,    1240.4,    1184. ,    1135.6,
           1093.7,    1099.5,    1138. ,    1069. ,    1114. ,    1098. ,
           1007.5,    1039. ,    1021. ,    1009.1,    1006.1,     996. ,
           1009. ,    1002. ,     990.2,    1007.5,     987.4],
       [    213. ,     213. ,     185. ,     194. ,     198. ,     203. ,
            182. ,     185. ,     197. ,     202. ,     191. ,     194. ,
            199. ,     184. ,     182. ,     179. ,     174. ,     169. ,
            155. ,     155. ,     156. ,     155. ,     148. ,     141. ,
            136. ,     136. ,     141. ,     132. ,     137. ,     135. ,
            123. ,     127. ,     123. ,     121. ,     120. ,     118. ,
            119. ,     118. ,     117. ,     120. ,     118. ]])

<b>Analysis 1</b>. What is the maximum yearly NYC consumption of water in millions of gallons per day?

<b> Approach </b> - As we have already trasnposed the array so now we have a row for each column in the dataset. The row3 (after the trasposed of array) is yearly NYC consumption of water (in millions of gallons per day) and we are using amax() function for getting max value.

In [3]:
max_consumption_mil_gal=np.amax(nyc_water_each_col_val[2])
print('The maximum yearly NYC consumption of water in millions of gallons per day is',max_consumption_mil_gal)

The maximum yearly NYC consumption of water in millions of gallons per day is 1512.0

<b>Analysis 2</b>. How many calendar years are represented within this data set? NumPy's shape command is one way to findout.

<b>Question 2</b>. How many calendar years are represented within this data set? NumPy's shape command is one way to findout.

In [5]:
print('Year column is',nyc_water_each_col_val[0])
print(' ')
print(len(nyc_water_each_col_val[0]),'calendar years are represented within this data set')

Year column is [1979. 1980. 1981. 1982. 1983. 1984. 1985. 1986. 1987. 1988. 1989. 1990.
 1991. 1992. 1993. 1994. 1995. 1996. 1997. 1998. 1999. 2000. 2001. 2002.
 2003. 2004. 2005. 2006. 2007. 2008. 2009. 2010. 2011. 2012. 2013. 2014.
 2015. 2016. 2017. 2018. 2019.]

41 calendar years are represented within this data set

Another approach to this analytical query could be to calculate the number of calendar years within this data set by finding the shape of array beacuse total number of rows will be equal to the number of years

In [6]:
print(nyc_water.shape)

(41, 4)

<b>Analysis 3</b>. What is the mean and the standard deviation of the per capita daily water consumption?

<b>Approach</b> - The per capita daily water consumption is row3 in our trasnposed array so we are using `mean` and `std` functions for getting the respective mean and standard deviation of the `per capita daily water consumption`.

In [7]:
Per_capita_mean = round(np.mean(nyc_water_each_col_val[3]),3)
Per_capita_sd = round(np.std(nyc_water_each_col_val[3]),3)
print('the mean value is :', Per_capita_mean,'and the standard deviation is :',Per_capita_sd,
      'of the per capita daily water consumption')

the mean value is : 158.415 and the standard deviation is : 31.847 of the per capita daily water consumption

<b>Analysis 4</b>. What is the increase or decrease in population from year to year? Use NumPy's diff function to create an array of differences and save that to a variable called "pop_diff", then print that variable to the screen.

<b>Approach</b> - As mentioned in the notes, The increase or decrease in population from year to year can be calculated using the `diff` function and ultimately storing the output in `pop_diff` variable.

In [8]:
pop_diff=np.array(np.diff(nyc_water_each_col_val[1]))
print(pop_diff)

[-30461.   17602.   19864.   72119.   53290.   39540.   45192.   23230.
  11243.   -9544.   -8525.   38851.   54443.   77222.   64292.   62582.
  64772.   75631.   84816.   89401.   60618.   16685.5  16685.5  16685.5
  16685.5  16685.5  16685.5  16685.5  16685.5  16685.5  16685.5  97830.
  75069.   50707.   38648.   30794.    7795.  -37705.  -39523.  -61931. ]